<% provide(:title, @coursework.title + ' - ' + @coursework.course.code ) %>
<div class="row">
    <aside class="col-md-4">
        <section class="users_info">             
            <h1 class="jumbotron text-center">
                <%= @coursework.title %> 
            </h1>
        <table class = "table table-bordered table-responsive">
            <tbody>
            <%= render 'coursework_info', coursework: @coursework %>
            </tbody>
        </table>
        </section>
    </aside>
    <div class = "col-md-7 text-center" style="margin-top: 20px;">
        <div class="row">
            <%if is_admin? || is_teacher?%>
            <%= render 'coursework_students', student_courseworks: @student_courseworks %>
            <%end%>
            <%if is_student?%>
            <h3>Student Coursework</h3>
            <%= @coursework.description %>
            <%end%>
            <% if @coursework.date_due <= Date.today %>
            <h3>Grade Distribution</h3>
                <%= line :grade_distr_cw, @chartSize, @chartData %>
            <% end %>
        </div>
    </div>
</div>
