<% provide(:title, @coursework.title + ' - ' + @coursework.course.code ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="users_info">
      <h1 class="jumbotron text-center">
        <%= @coursework.title %>
      </h1>
      <table class = "table table-bordered table-responsive">
        <tbody>
        <%= render 'courseworks/coursework_info', coursework: @coursework, student_coursework: @student_coursework %>
        </tbody>
      </table>
    </section>
  </aside>
  <div class = "col-md-7 text-center" style="margin-top: 20px;">
    <%if @student_coursework%>
      <h1>Your solution:</h1>
      <p><%=@student_coursework.solution%></p>
      <%if @coursework.date_due > DateTime.now%>
        <tr>
          <td><%= link_to "Change", edit_student_coursework_path(coursework: @coursework, course: @course), class: "btn btn-primary"%></td>
        </tr>
      <%end%>
    <%else%>
      <p>You haven't made any submissions.</p>
      <%if @coursework.date_due > DateTime.now%>
        <tr>
          <td><%= link_to "Add", new_student_coursework_path(coursework: @coursework), class: "btn btn-primary"%></td>
        </tr>
      <%end%>
    <%end%>
  </div>

</div>