<tr>
    <td>Id</td>
    <td><%= teacher.id %></td>
</tr>
<tr>
    <td>Title</td>
    <td><%= teacher.title %></td>
</tr>
<tr>
    <td>Hiring Date</td>
    <td><%= teacher.hiring_date %></td>
</tr>
<tr>
    <td>Department</td>
    <td><%= teacher.department.name %></td>
</tr>
<% if current_user.admin? && teacher.user != current_user %>
<tr>
    <td>Record Creation Date</td>
    <td><%= teacher.created_at.to_date %></td>
</tr>
<tr>
    <td>Record Update Date</td>
    <td><%= teacher.updated_at.to_date %></td>
</tr>
<tr>
    <td>Delete</td>
    <td><%= link_to "Delete", teacher_path(id: teacher.id), :method => :delete, :data => {confirm: "Are you sure?"} %></td>
</tr>
<% end %>
<tr>
    <td>Edit Your Data</td>
    <td><%= link_to "Edit", edit_teacher_path(teacher) %></td>
</tr>
<% if !teacher.user.nil? %>
    <tr>
        <td>User Profile</td>
        <td><%= link_to teacher.user.name, teacher.user %></td>
    </tr>
<% end %>