<% provide(:title, 'Teachers') %>
<h1>Teachers</h1>
<ul class="users">
  <%= render 'search' %>
  <br />
  <br />
  <table class = "table">
    <thead>
      <tr>
        <th><%=sort_link(@q, :id, "id")%></th>
        <th><%=sort_link(@q, :name)%></th>
        <th><%=sort_link(@q, :title)%></th>
        <th><%=sort_link(@q, :hiring_date, "Hiring Date")%></th>
        <th><%=sort_link(@q, :department_name, "Department Name")%></th>
        <th><%=sort_link(@q, :created_at)%></th>
        <th><%=sort_link(@q, :updated_at)%></th>
        <th>Degrees</th>
        <th>Interests</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
    <tbody>
        <tr><%= link_to "Add a New Teacher", teachers_new_path, class: "btn btn-primary btn-md text-center" %></tr>
        <% @teachers.each do |teacher| %>
          <%= render teacher %>
        <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</ul>