<h3>Course Students</h3> <br />
<br />
<table class = "table table-bordered table-responsive">
    <thead>
    <tr>
        <th><%=sort_link(@q, :id)%></th>
        <th><%=sort_link(@q, :name)%></th>
    </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
            <tr>
                <th scope="row"><%= student.id %></th>
                <td><%= link_to student.name, student %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @students, :param_name => "students_page" %>