<% provide(:title, @course.title) %>
<div class="row">
    <aside class="col-md-4">
        <section class="users_info">             
            <h1 class="jumbotron text-center">
                <%= @course.title %> 
            </h1>
        <table class = "table table-bordered table-responsive">
            <tbody>
            <%= render 'course_info', course: @course %>
            </tbody>
        </table>
        </section>
    </aside>
    <div class = "col-md-7 text-center" style="margin-top: 20px;">
        <div class="row">
            <%= render 'course_students' %>
        </div>
        <div class="row">
            <%= render 'course_teachers' %>
        </div>
        <div class="row">
            <%= render 'course_courseworks' %>
        </div>
        <div class="row">
            <%= render 'course_coursenotes' %>
        </div>
        <div class="row">
            <%= render 'course_lectures' %>
        </div>
        <div class="row">
            <% if !@course.courseworks.empty? && !@course.students.empty? %>
                <% if current_user.student? %>
                    <h3>Your Stats</h3>
                    <strong>Your current mark:</strong> <%= @totalMark %> out of <%= @coursetotalMark %>
                    <br />
                    <strong>Your rank for this course: </strong> <%= @current_rank %> out of <%= @course.students.size %> students in this course.
                <% end %>
                <h3>Average Grades in Assignments</h3>
                <%= line :gdist, @chartSize, @chartData %>
                <br />>
                <h3>Weights of Assignments</h3>
                <%= pie :pie_chart, @chartSize, @pieCharData %>
            <% end %>
        </div>
    </div>
</div>